name: Checkov Scan

on:
  pull_request:
    paths:
      - '**.tf'

jobs:
  checkov_scan:
    runs-on: ubuntu-latest

    steps:
    - name: Check out repository code
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install checkov

    - name: Run Checkov scan
      run: |
        FILES=$(git diff --name-only --diff-filter=d ${{ github.event.before }} ${{ github.event.after }} -- '*.tf' | tr '\n' ' ')

        if [ -n "$FILES" ]; then
          checkov --directory . --output json --quiet --framework terraform > checkov_results.json
        else
          echo "No Terraform files changed."
        fi

    - name: Upload Checkov results
      if: always()
      uses: actions/upload-artifact@v2
      with:
        name: checkov-results
        path: checkov_results.json
